---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import { LivePlayer } from '../components/LivePlayer';
import { YouTubeLive } from '../components/Youtubelive';
---

<Layout>
    <Hero />
    <LivePlayer client:visible />
    <div class='rounded-lg p-6'>
        <h2 class='text-white text-2xl font-bold mb-4 mx-auto text-center'>
            Mira nuestra trasmisión en vivo
        </h2>
        <YouTubeLive client:visible />
    </div>
</Layout>
