---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import LivePlayer from '../components/LivePlayer';

import { YouTube } from 'astro-embed';
---

<Layout>
    <Hero />
    <LivePlayer client:visible />
    <div class='rounded-lg p-6'>
        <h2 class='text-white text-2xl font-bold mb-4 mx-auto text-center'>
            Mira nuestra trasmisión en vivo
        </h2>
        <YouTube
            class='rounded-xl mx-auto'
            id='https://youtu.be/yDg4D4DLH78?si=D1PElB0T5q7loWzh'
        />
    </div>
</Layout>
