---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import { LivePlayer } from '../components/LivePlayer';
import { YouTubeLive } from '../components/Youtubelive';
---

<Layout>
    <Hero />
    <LivePlayer client:visible />
    <div class='rounded-lg p-6'>
        <YouTubeLive client:load />
    </div>
</Layout>
