<footer class='bg-blue-950 shadow-fuchsia-800 text-white py-8'>
    <div class='container mx-auto text-center'>
        <p class='mb-4'>&copy; 2012 Sports 96.7FM All rights reserved.</p>
        <div class='flex justify-center space-x-4'>
            <a
                aria-label='Chat on WhatsApp'
                href='https://wa.me/584249309508'
                target='_blank'
                rel='noreferrer'
                class='flex gap-2 items-center'
            >
                Contáctenos al WhatsApp
            </a>
            <img
                src='/logo_whatsapp.svg'
                alt='Logo'
                class='h-6 w-6 bg-green-400 rounded-full'
            />
        </div>
    </div>
</footer>
