<header class='bg-blue-800 text-white p-4'>
    <div class='container mx-auto flex justify-between items-center'>
        <div class='md:flex space-x-4'>
            <img src='/icons/LOGO-SPORTS.png' alt='Logo' class='h-16' />
        </div>
        <nav>
            <ul class='flex items-center space-x-4'>
                <li
                    class='hover:underline flex justify-center md:justify-start gap-4'
                >
                    <a
                        aria-label='Chat on WhatsApp'
                        href='https://wa.me/584249309508'
                        target='_blank'
                        rel='noreferrer'
                        class='flex gap-2 items-center'
                    >
                        <img
                            src='/icons/logo_whatsapp.svg'
                            alt='Logo'
                            class='h-6 w-6 bg-green-400 rounded-4xl'
                        />
                        Escríbenos en WhatsApp
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
