<header class='bg-blue-900 text-white p-4'>
    <div class='container mx-auto flex justify-between items-center'>
        <div class='md:flex space-x-4'>
            <img src='/LOGO-SPORTS.png' alt='Logo' class='h-16' />
        </div>
        <nav class=''>
            <ul class='flex items-center space-x-4'>
                <li>
                    <a href='#schedule' class='hover:underline'>
                        Programación
                    </a>
                </li>

                <li>
                    <a
                        aria-label='Chat on WhatsApp'
                        href='https://wa.me/16148818722'
                        target='_blank'
                        rel='noreferrer'
                        class='hover:underline flex gap-2'
                    >
                        Escríbenos
                        <img
                            alt='Chat on WhatsApp'
                            src='/whatsapp.svg'
                            class='w-6 h-6 self-start'
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
